*{
	margin: 0;
	padding: 0;
}

body{
	background: #cccccc;

}

#contenedor{
	width: 960px;
	height: 1000px;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}

header{
	background: #ffffff;
	height: 133px;
	float: left;
}
nav{
	background: #005883;
	height: 190px;
}

nav li{
	list-style: none;
	display: inline-block;
	padding: 20px 0px;
}

nav a{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	text-decoration: none;
	padding: 20px;
}

nav a:hover{
	background: #cccccc;
	color: #000000;
}

section{
	width: 700px;
	height: 650px;
}
#contenido{
	float: left;
	width: 700px;
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.articulos{
	margin: 10px;
}

.articulos h2{
	font-size: 40px;
	padding: 10px;
	color: #005883;
	border-bottom: 3px solid #005883;
	font-family: arial;
	text-align: center;
}

.articulos img{
	float: left;
	margin: 10px;
	width: 250px;
	height: 200px;
}

.articulos p{
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: arial;
	text-align: justify;
}

aside{
	float: left;
	width: 250px;
	height: 650px;
	background: #ffffff;
	margin-top: 10px;
	border-radius: 10px;
}

aside h3{
	font-size: 20px;
	color: #ffffff;
	background: #005883;
	font-family: arial;
	border-radius: 4px;
	text-align: center;
	padding: 10px;
}

footer{
	width: 960px;
	height: 150px;
	background: #ffffff;
	clear:both;

}